<img src="{{user.avatar_url}}" alt="{{user.avatar_url}}"  height="300">
<div class="user-info-card">
    <div class="info-row">
        <span class="info-label">Login:</span><span class="info-data">{{user.login}}</span>
    </div>
     <div class="info-row" *ngIf="user.name">
        <span class="info-label">Name:</span><span class="info-data">{{user.name}}</span>
    </div>
    <div class="info-row" *ngIf="user.location">
            <span class="info-label">Location:</span><span class="info-data">{{user.location}}</span>
    </div>
    <div class="info-row" *ngIf="user.public_repos">
            <span class="info-label">Repos:</span><span class="info-data">{{user.public_repos}}</span>
    </div>
    <div class="info-row" *ngIf="user.followers">
            <span class="info-label">Followers:</span><span class="info-data">{{user.followers}}</span>
    </div>

</div>

<h2>User Repositories</h2>
<table>
    <tr>
        <th>name</th>
        <th>description</th>
    </tr>   
    <tr  *ngFor="let repo of repos">
        <td><a href="{{repo.clone_url}}" target="_blank">{{repo.name}}</a></td>
        <td>{{repo.description}}</td>
    </tr>  
</table>