
<!-- asdasd
<div  *ngFor="let user of users">
    {{user.login}}
</div> -->

<table style="width:100%">
        <tr>
            <th>id</th>
            <th>login</th>
            <th>avatar</th>
        </tr>   
        <tr  *ngFor="let user of users">
          <td><a [routerLink]="['/user', user.login ]">{{user.id}}</a></td>
          <td><a [routerLink]="['/user', user.login ]">{{user.login}}</a></td> 
          <td><a [routerLink]="['/user', user.login ]"> 
              <img src="{{user.avatar_url}}" alt="Trulli"  height="100"></a>
          </td>
        </tr>
        
 </table>