<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <a href="/home">
      <img src="../../assets/logo.svg" alt="Kiwi standing on oval">
    </a>
    <button class="navbar-toggler" type="button" aria-controls="navbar-menu"
            aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
       
      <div class="navbar-nav ml-auto">
        <div class="nav-item demo-title font-weight-light" ngbDropdown placement="bottom-right">
           Ivan Mashalov - Demo
        </div>
      </div>
    </div>
  </nav>
</header>
