@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
.navbar{
  border-bottom: 1px solid #C2C2C2
}
.demo-title{
  font-size: 2em
}