<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
       <span translate>List of users:</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
 
    <user-component></user-component>

  </div>
</div>
